.app-navbar-div { 
    padding-left: 20px;
    display: flex;
    flex-direction: column; 
    background-color: rgba(73, 67, 67, 0.84);
    backdrop-filter: blur(13px);
    height: 100vh;
    width: 199px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    /* margin-top: 10vh; */
}
.app-navbar-logo-font {
    font-family: "app-logo-font";
    color: #F1F0E8;
    font-size: 40px;
    transform: translateY(0px);
    transition: 1s;
}
.app-navbar-anchors {
    color: #F1F0E8;
    font-size: 16px;
    margin-top: 30px;
    /* background-color: rgba(0, 255, 255, 0.153); */
    display: flex;
    flex-direction: column;
}
.app-navbar-anchors > a {
    margin-top: 5px;
    padding-block: 5px;
    padding-left: 10px;
}
a:hover {
    background-color: rgba(208, 197, 197, 0.708);
    color: rgba(74, 69, 69, 0.824);
}

.slide-on-hover{
    transform: translateX(-190px);
    transition: 1s;
    z-index: 100;
    position: fixed;
}
.slide-on-hover:hover {
    transform: translateX(0px);
    cursor: pointer;
}

