@font-face {
    font-family: "app-logo-font";
    src: url("/src/assets/fonts/syn-nova/SYNNova-Bold.otf") format('opentype')
}
 /* src: url('../../assets/fonts/syn-nova/SYNNova-Bold.otf') format('opentype'); */
.app-pages {
    margin: 0;
    /* background-color: rgb(252, 250, 247); */
    /* background-color:#65647C; */
    color: #F1F0E8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}
h1, h2, h3, p {
    margin: 0px;
    color: #F1F0E8;
}
label {
    margin: 0px;
    color: #F1F0E8;
}
.div-center-xy-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* body {
    background-color: #65647C;
} */
body {
    background-color: #424344;;
}


