


.app-landing-page{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.app-landing-page-main {
    /* background-color: #23a445; */
    /* background-image: url("../../../public/15.png"); */
    /* background-size:cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.app-landing-page-main > * {
    margin-top:030px
}
.app-landing-page-main-h1 {
    font-family:"app-logo-font";
    color: #F1F0E8;
    font-size: 67px;
    transform: translateY(-5px);
    transition: 1s;
}
/* .transformed {
    transform: translateY(-20px);
} */
/* .app-pages-home {
    background-image: url("../../../public/15.png");
} */