

@font-face {
    font-family: "app-logo-font";
    src: url('../../assets/fonts/syn-nova/SYNNova-Bold.otf') format('opentype');
}
.app-login-page{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}
.app-main{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh;; */
}
/* .app-login-page-main {
    background-color: #65647C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
} */
.app-login-page-main > * {
    margin-top:0px
}
.app-login-page-main-h3{
    font-family:"app-logo-font";
    color: #F1F0E8;
    font-size: 44px;
    transform: translateY(0px);
    transition: 1s;
    margin-bottom: 10px;
}
.transformed {
    transform: translateY(-20px);
}

